/* barlow-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* barlow-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/barlow-v12-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* barlow-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/barlow-v12-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* barlow-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/barlow-v12-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1211px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}


.header-container {
    display: flex;
padding-right: 3px;
justify-content: center;
align-items: center;
gap: 838px;
padding-top: 64px;
padding-bottom: 168px;
}
.header-container-1 {
}
.header-container-2 {
    color: #162542;
font-family: Barlow;
font-size: 32px;
font-style: normal;
font-weight: 900;
line-height: 36px; /* 112.5% */
text-transform: uppercase;
}

.card {
    display: flex;
    align-items: center;
    gap: 66px;
    padding-bottom: 64px;
}

.card-1 {
    color: #7B8BAD;
font-family: Barlow;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 112.5% */
text-transform: uppercase;
}

.card-2 {
    color: #162542;
font-family: Barlow;
font-size: 32px;
font-style: normal;
font-weight: 900;
line-height: 36px; /* 112.5% */
text-transform: uppercase;
}

/* MAIN */

.main-card {
    display: flex;
    gap: 30px;
}

.main-card-1 {
    width: 255px;
height: 65px;
flex-shrink: 0;
border-radius: 16px;
background: #F16718;
}

.main-card-list-1 {
    color: #FFF;
font-family: Barlow;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 116.667% */
text-transform: uppercase;
padding-top: 18px;
padding-left: 24px;
}

.main-card-2 {
    width: 255px;
height: 65px;
flex-shrink: 0;
border-radius: 16px;
background: #FF9B62;
}

.main-card-list-2 {
    color: #FFF;
font-family: Barlow;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 116.667% */
text-transform: uppercase;
padding-top: 18px;
padding-left: 24px;
}

.main-card-3 {
    width: 255px;
height: 65px;
flex-shrink: 0;
border-radius: 16px;
background: #162542;
}

.main-card-list-3 {
    color: #FFF;
font-family: Barlow;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 116.667% */
text-transform: uppercase;
padding-top: 18px;
padding-left: 24px;
}

.main-card-4 {
    width: 255px;
height: 65px;
flex-shrink: 0;
border-radius: 16px;
background: #7B8BAD;
}

.main-card-list-4 {
    color: #FFF;
font-family: Barlow;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 116.667% */
text-transform: uppercase;
padding-top: 18px;
padding-left: 24px;
}

.main-card-5 {
    width: 255px;
height: 65px;
flex-shrink: 0;
border-radius: 16px;
background: #E8EFF2;
margin-top: 74px;
}

.main-card-list-5 {
    color: #FFF;
font-family: Barlow;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 116.667% */
text-transform: uppercase;
padding-top: 18px;
padding-left: 24px;
color: #162542;
}

.main-card-6 {
    width: 255px;
height: 65px;
flex-shrink: 0;
border-radius: 16px;
background: #E8EFF2;
margin-top: 74px;

}

.main-card-list-6 {
    color: #FFF;
font-family: Barlow;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 116.667% */
text-transform: uppercase;
padding-top: 18px;
padding-left: 24px;
color: #162542;
}

/* images */

.main-card-img-1 {
    padding-top: 24px;
}

.main-card-img-1-1 {
    padding-top: 8px;
}

.main-card-images-1 {
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.main-card-img-2 {
    padding-top: 24px;
}

.main-card-img-1-2 {
    padding-top: 8px;
}

.main-card-images-2 {
    display: flex;
    align-items: baseline;
    flex-direction: column;
}
.main-card-img-3 {
    padding-top: 24px;
}

.main-card-img-1-3 {
    padding-top: 8px;
}

.main-card-images-3 {
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.main-card-img-4 {
    padding-top: 24px;
}

.main-card-img-1-4 {
    padding-top: 8px;
}

.main-card-images-4 {
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.main-card-img-5 {
    padding-top: 24px;
}

.main-card-img-1-5 {
    padding-top: 8px;
}

.main-card-images-5 {
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.main-card-img-6 {
    padding-top: 24px;
}

.main-card-img-1-6 {
    padding-top: 8px;
}

.main-card-images-6 {
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.card-images {
    display: flex;
    gap: 107px;
}

.main-1 {
    padding-top: 168px;
}

.main-1-1 {
    width: 505px;
    height: 56px;
    color: #162542;
font-family: Barlow;
font-size: 56px;
font-style: normal;
font-weight: 900;
line-height: 56px; /* 100% */
text-transform: uppercase;
padding-top: 56px;
padding-left: 65px;
}

.main-p-1 {
    width: 1110px;
height: 240px;
flex-shrink: 0;
border-radius: 20px;
background: #E8EFF2;
margin-top: 85px;
display: flex;
}


.main-p-2 {
    width: 430px;
    height: 140px;
    margin-top: 48px;
    margin-right: 110px;
}

/* MAIN-END */

.main-end-1 {
    padding-top: 85px;
    width: 540px;
}

.main-end-card-1 {
    color: #7B8BAD;
font-family: Barlow;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
padding-bottom: 8px;

}

.main-end-card-2 {
    color: #162542;
font-family: Barlow;
font-size: 56px;
font-style: normal;
font-weight: 900;
line-height: 56px; /* 100% */
text-transform: uppercase;
padding-bottom: 56px;
}

.main-end-card-3 {
    color: #7B8BAD;
font-family: Barlow;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
}

.main-end-card-4 {
    color: #162542;
font-family: Barlow;
font-size: 32px;
font-style: normal;
font-weight: 900;
line-height: 36px; /* 112.5% */
text-transform: uppercase;
padding-top: 8px;
}

.main-end-card-5 {
    color: #7B8BAD;
font-family: Barlow;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
padding-top: 56px;
}

.main-end-card-6 {
    color: #162542;
font-family: Barlow;
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: 28px; /* 116.667% */
text-transform: uppercase;
padding-top: 8px;s
}

.main-end {
    width: 540px;
height: 390px;
flex-shrink: 0;
}

.main-end-4 {
    margin-top: 85px;
}

.main-end-card-7 {
    color: #162542;
font-family: Barlow;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
}

.main-end-card-8 {
    color: #7B8BAD;
font-family: Barlow;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
width: 540px;
margin-top: 32px;
}

.main-end-full {
    display: flex;
    gap: 30px;
    margin-bottom: 168px;
}

.footer-t-1 {
    color: #7B8BAD;
font-family: Barlow;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
padding-top: 68px;
padding-left: 160px;
padding-bottom: 24px;
}

.footer-card-1 {
    border-radius: 8px;
background: #F16718;
width: 175px;
height: 58px;
flex-shrink: 0;
margin-left: 150px;
margin-bottom: 40px;
}

.footer-t2 {
    color: #FFF;
text-align: center;
font-family: Barlow;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 162.5% */
text-transform: uppercase;
padding-top: 18px;
}


.footer-t-3 {
    color: #7B8BAD;
font-family: Barlow;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
padding-top: 68px;
padding-left: 160px;
padding-bottom: 24px;
}

.footer-card-3 {
    border-radius: 8px;
    background: #FF9B62;
width: 175px;
height: 58px;
flex-shrink: 0;
margin-left: 150px;
margin-bottom: 40px;
}

.footer-t3 {
    color: #FFF;
text-align: center;
font-family: Barlow;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 162.5% */
text-transform: uppercase;
padding-top: 18px;
}


.footer-t-4 {
    color: #7B8BAD;
font-family: Barlow;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
padding-top: 68px;
padding-bottom: 24px;
}

.footer-card-4 {
    border-radius: 8px;
    background: #E8EFF2;
width: 175px;
height: 58px;
flex-shrink: 0;
margin-bottom: 40px;
}

.footer-t4 {
    color: #162542;
text-align: center;
font-family: Barlow;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 162.5% */
text-transform: uppercase;
padding-top: 18px;
}

.footer-t-5 {
    color: #7B8BAD;
font-family: Barlow;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
padding-top: 68px;
padding-bottom: 24px;
}

.footer-card-5 {
    border-radius: 8px;
    background: #162542;
width: 175px;
height: 58px;
flex-shrink: 0;
margin-bottom: 40px;
}

.footer-t5 {
    color: #FFFFFF;
text-align: center;
font-family: Barlow;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 162.5% */
text-transform: uppercase;
padding-top: 18px;
}

.footer-end-full {
    display: flex;
    justify-content: space-between;
    margin-bottom: 175px;
}

.footer-end-2 {
margin-right: 150px;

}



